name: Build
on:
  push:
    branches:
      - main
      - 'renovate/**'
      - 'github-renovate/**'
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup node
        uses: actions/setup-node@aa759c6c94d3800c55b8601f21ba4b2371704cb7 # renovate: tag=v2.3.0
        with:
          node-version: 14
      - name: Install project
        run: npm ci --ignore-scripts
      - name: Lint
        run: npm run lint
  build:
    name: Build (Node.js v${{ matrix.node }})
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        node: [10, 12, 14, 15]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup node
        uses: actions/setup-node@aa759c6c94d3800c55b8601f21ba4b2371704cb7 # renovate: tag=v2.3.0
        with:
          node-version: ${{ matrix.node }}
      - name: Install project
        run: npm ci --ignore-scripts
      - name: Build
        run: npm run build
  test:
    name: Test (Node.js v${{ matrix.node }})
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        node: [10, 12, 14, 15]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup node
        uses: actions/setup-node@aa759c6c94d3800c55b8601f21ba4b2371704cb7 # renovate: tag=v2.3.0
        with:
          node-version: ${{ matrix.node }}
      - name: Install project
        run: npm ci --ignore-scripts
      - name: Test
        run: npm run test:ci
  code-coverage:
    needs: [lint, build, test]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup node
        uses: actions/setup-node@aa759c6c94d3800c55b8601f21ba4b2371704cb7 # renovate: tag=v2.3.0
        with:
          node-version: 14
      - name: Install project
        run: npm ci --ignore-scripts
      - name: Test
        run: npm run test:ci
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/cobertura-coverage.xml
  release:
    needs: [lint, build, test, code-coverage]
    runs-on: ubuntu-latest
    # GitHub API requests can easy take a couple of seconds and the release can
    # make lots of API requests when a release has a lot of commits. If every
    # requests takes five seconds, which is on the high side for a request, this
    # could perform 180 requests. This should be enough for most use cases.
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          # Make sure the release step uses its own credentials.
          persist-credentials: false
      - name: Setup node
        uses: actions/setup-node@aa759c6c94d3800c55b8601f21ba4b2371704cb7 # renovate: tag=v2.3.0
        with:
          node-version: 14
      - name: Install project
        run: npm ci --ignore-scripts
      - name: Build
        run: npm run build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: vidavidorra-release
          GIT_AUTHOR_EMAIL: 65564857+vidavidorra-release@users.noreply.github.com
          GIT_COMMITTER_NAME: vidavidorra-release
          GIT_COMMITTER_EMAIL: 65564857+vidavidorra-release@users.noreply.github.com
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
        run: npx --no-install semantic-release
