name: Build
on:
  push:
    branches:
      - main
      - beta
      - 'renovate/**'
  pull_request:
jobs:
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@831cdfeaf21957af495b3d518c1a877d5ffd3253 # v2.1.1
  build:
    name: Build (Node.js ${{ matrix.nodeVersion }})
    strategy:
      fail-fast: false
      matrix:
        nodeVersion: [16, 18, 19]
    uses: vidavidorra/.github/.github/workflows/node-build.yml@831cdfeaf21957af495b3d518c1a877d5ffd3253 # v2.1.1
    with:
      nodeVersion: ${{ matrix.nodeVersion }}
  test:
    name: Test (Node.js v${{ matrix.node }})
    strategy:
      fail-fast: false
      matrix:
        node: [16, 18, 19]
    uses: vidavidorra/.github/.github/workflows/node-test.yml@831cdfeaf21957af495b3d518c1a877d5ffd3253 # v2.1.1
    with:
      nodeVersion: ${{ matrix.node }}
  code-coverage:
    name: Test coverage
    needs: [lint, build, test]
    uses: vidavidorra/.github/.github/workflows/node-test-coverage.yml@d1af2b300d80b7abc1bda186aa29df55573af9ea # v2.1.0
    secrets:
      codecovToken: ${{ secrets.CODECOV_TOKEN }}
  release:
    needs: [lint, build, test, code-coverage]
    runs-on: ubuntu-latest
    # GitHub API requests can easy take a couple of seconds and the release can
    # make lots of API requests when a release has a lot of commits. If every
    # requests takes five seconds, which is on the high side for a request, this
    # could perform 180 requests. This should be enough for most use cases.
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          # Make sure the release step uses its own credentials.
          persist-credentials: false
      - name: Setup node
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: 18
      - name: Install project
        run: npm ci --ignore-scripts
      - name: Build
        run: npm run build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: vidavidorra-release
          GIT_AUTHOR_EMAIL: 65564857+vidavidorra-release@users.noreply.github.com
          GIT_COMMITTER_NAME: vidavidorra-release
          GIT_COMMITTER_EMAIL: 65564857+vidavidorra-release@users.noreply.github.com
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
        run: npx --no-install semantic-release
