name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - renovate/**
  pull_request: null
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@3a415d7438e0ffab3441b52eef7b7226afcb88e2 # v4.2.34
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@3a415d7438e0ffab3441b52eef7b7226afcb88e2 # v4.2.34
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@3a415d7438e0ffab3441b52eef7b7226afcb88e2 # v4.2.34
    strategy:
      fail-fast: false
      matrix:
        nodeVersion: [20, 21]
    with:
      nodeVersion: ${{ matrix.nodeVersion }}
  test:
    uses: vidavidorra/.github/.github/workflows/node-test.yml@3a415d7438e0ffab3441b52eef7b7226afcb88e2 # v4.2.34
    strategy:
      fail-fast: false
      matrix:
        nodeVersion: [20, 21]
    with:
      nodeVersion: ${{ matrix.nodeVersion }}
  code-coverage:
    uses: vidavidorra/.github/.github/workflows/node-test-coverage.yml@3a415d7438e0ffab3441b52eef7b7226afcb88e2 # v4.2.34
    needs:
      - lint
      - build
      - test
    secrets:
      codecovToken: ${{ secrets.CODECOV_TOKEN }}
  release:
    uses: vidavidorra/.github/.github/workflows/release.yml@3a415d7438e0ffab3441b52eef7b7226afcb88e2 # v4.2.34
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
      - code-coverage
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
      npmToken: ${{ secrets.NPM_PUBLISH_TOKEN }}
