name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - renovate/**
  pull_request: null
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@c76aaeece6444dce7b8749611c342839cdb210ea # v5.0.7
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@c76aaeece6444dce7b8749611c342839cdb210ea # v5.0.7
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@c76aaeece6444dce7b8749611c342839cdb210ea # v5.0.7
    strategy:
      fail-fast: false
      matrix:
        nodeVersion: [20, 22, 23]
    with:
      nodeVersion: ${{ matrix.nodeVersion }}
  test:
    uses: vidavidorra/.github/.github/workflows/node-test.yml@c76aaeece6444dce7b8749611c342839cdb210ea # v5.0.7
    strategy:
      fail-fast: false
      matrix:
        nodeVersion: [20, 22, 23]
    with:
      nodeVersion: ${{ matrix.nodeVersion }}
  code-coverage:
    uses: vidavidorra/.github/.github/workflows/node-test-coverage.yml@c76aaeece6444dce7b8749611c342839cdb210ea # v5.0.7
    needs:
      - lint
      - build
      - test
    secrets:
      codecovToken: ${{ secrets.CODECOV_TOKEN }}
  release:
    uses: vidavidorra/.github/.github/workflows/release.yml@c76aaeece6444dce7b8749611c342839cdb210ea # v5.0.7
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
      - code-coverage
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
      npmToken: ${{ secrets.NPM_PUBLISH_TOKEN }}
